* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a24;
    color: #fff;
}

#book-list {
    width: 70vw;
    height: min-content;
    background-color: #ffffff34;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 50px;
    grid-auto-flow: row;
    grid-auto-rows: 300px;
    padding: 20px;
    margin: 50px auto;
    justify-content: center;
    align-content: start;
}

.book-item {
    background-color: whitesmoke;
    border:none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.year-cover {
    margin-top: -10px;
}

.btns-cover {
    width: 80%;
    height: 50px;
    border: 2px solid red;
    display: flex;
    justify-content: space-evenly;
}

.pages-cover {
    color: gray;
    align-self: end;
    font-size: .7rem;

    &::after {
        content: " pgs.";
    }
}

