* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a24;
    color: #fff;
}

#book-list {
    width: 70vw;
    height: min-content;
    background-color: #ffffff34;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-auto-flow: row;
    grid-auto-rows: 200px;
    padding: 20px;
    margin: 50px auto;
}

.book-item {
    background-color: whitesmoke;
    border:none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 10px;
}